body {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    background-color: #432818;
}

.wrapper {
    background-color: #432818;
    width: 100%;
    box-sizing: border-box;
}

svg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

svg text {
    animation: stroke 8s infinite alternate;
    stroke-width: 2;
    stroke: rgb(255, 255, 255);
    font-size: 410%;
    color: #ff945b;
}

@keyframes stroke {
    0% {
        fill: #ff945b;
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: #ff945b;
        stroke: rgb(255, 255, 255);
    }
    80% {
        fill: #ff945b;
        stroke: rgb(255, 255, 255);
        stroke-width: 3;
    }
    100% {
        fill: #ff945b;
        stroke: rgba(255, 255, 255, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 2px;
    animation: fadeIn 5s infinite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 15px;
    background-color: #ff945b;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px 0;
    border-radius: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative; /* Nécessaire pour le positionnement absolu */
    left: 60%; /* Positionne la bannière complètement à droite de l'écran */
    transform: translateX(-50%); /* Ajuste la position pour qu'elle soit visible */
}

.banner img {
    max-height: 50px;
    margin-left: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
